@model IEnumerable<FileModel>
@{
    ViewData["title"] = "documentation";
    var nextNumber = 1;
}

<div class="row">
    <div class="col-md-10" style="padding-left: 25px;">
        <h2>Invenio QD Documents</h2>
    </div>
    <div class="col-md-2" style="padding-top: 25px;padding-left: 25px;">
        @if (User.IsInRole("GeneralManager") || User.IsInRole("RegionalManager"))
        {
            <a href="/Documentation/Upload">
                <label class="btn btn-success btn-file">
                    Add File
                </label>
            </a>
        }
    </div>
</div>

<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
" />

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
        </div>
        <div class="box-body">
            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var file in Model)
                                {
                                    <tr>
                                        <td>@(nextNumber++)</td>
                                        <td>@file.FileName</td>
                                        <td>@file.ContentType</td>
                                        <th>
                                            @if (User.IsInRole("GeneralManager") || User.IsInRole("RegionalManager"))
                                            {
                                                <a href="Delete/@file.Id" class="btn btn-danger">Delete</a>
                                            }
                                            <a href="Download/@file.Id" class="btn btn-success">Download</a>
                                        </th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
