@model ReportViewModel

@{
    ViewData["Title"] = "Report Create";
}

<hr />

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h2>Create report</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TextReport"></label>
                <textarea asp-for="TextReport" class="form-control" rows="10" placeholder="Enter ..."></textarea>
                <span asp-validation-for="TextReport" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Create report</button>
            <a class="btn btn-default" href="/order/">Back</a>
            <div class="form-group" style="visibility:hidden">
                <label asp-for="OrderId"></label>
                <input asp-for="OrderId" value="@ViewBag.OrderId" class="form-control"></input>
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}




